# 변수 설정
## 일상생활에서 복잡한 값을 프로그램을 작성할 때
## 의미가 있는 값을 저장하거나 해당 값들을 가리키는 역할을 하는 것

In [1]:
# 변수명 입력하고 다음에 등호(=) 다음에 데이터 입력
# 등호 표시(=) 파이썬에서는 바인딩(binding)을 의미 --> 가리키는 것 의미

### 변수 설정시 주의사항

In [2]:
# 다음의 경우
# 1. 변수명 첫글자는 영어 또는 언더스코어(_)로 시작
# 2. 숫자로 시작하는 변수명 사용 불가
# 3. 변수명에 공백이 있는 경우 사용 불가 : 금융 빅데이터 = '최고'
# 4. 기호로 시작하는 변수명 사용 불가
# 5. 키워드(예약어)는 변수명으로 사용 불가

### 1) 대소문자 구분

In [3]:
ABC=5
ABC

5

In [4]:
abc

NameError: name 'abc' is not defined

### 2) 여러개 변수를 한꺼번에 설정

In [6]:
# 변수명 사이에 쉼표('')= 숫자 사이에 쉼표('')를 해준다.
a,b,c=3,5,6

In [7]:
a

3

In [8]:
b

5

In [9]:
c

6

In [10]:
x='한국거래소'

In [11]:
x

'한국거래소'

In [12]:
# 문자는 따옴표 "" 하고 쉼표(,)를 해준다.
x,y,z="한국거래소","유가증권시장","채권거래시장"

In [13]:
x

'한국거래소'

In [14]:
y

'유가증권시장'

In [15]:
z

'채권거래시장'

### 3) 변수명이 중복되면 나중에 변수명으로 인식

In [16]:
a=3
a

3

In [17]:
# 위와 동일하게 변수명을 a로 명명하면 a에 달아 있던 3은 사라지고 새롭게 입력된 데이터를 인식함
a=10
a

10

### 4) 변수명을 지정하여 사칙연산

In [18]:
naver = 100

In [19]:
naver

100

In [21]:
naver*10

1000

In [22]:
# 정숫값(Integer) 중 자주 사용할 것 같은 범위의 정숫값은 메모리에 한 번만 올려두고
# 이를 여러 변수가 가리키게 함으로써 메모리를 효과적으로 사용
x = 10000
y = 100
x + y

10100

# 데이터 타입
## 1. 기본 자료형
### : 통상적으로 정수(int),실수(float), 문자열(str), boolean
### int : integer의 약자로서 정수
### float : 부동 소수점(실수) 의미
### str : string의 약자로 문자열, 문자열은 따옴표 사용
### bool : boolean 식에 대하여 참과 거짓을 판단
## 1) 데이터 타입을 확인

In [23]:
# type 이라는 내장 함수 사용

In [24]:
type(100)

int

In [25]:
type(100.5)

float

In [26]:
# 문자형은 따옴표로 (''), ("") 작은 따옴표, 큰 따옴표 불문
type("빅데이터분석가")

str

In [27]:
# boolean 식에 대하여 참과 거짓을 판단
x=5>2
x

True

In [28]:
y=5<2
y

False

In [29]:
# 문자열 따옴표를 출력하기
# 파이썬에서 두 가지 종류(큰, 작은)의 쓸 수 있는 것은 문자열이 따옴표를 포함하는 경우가 있기 때문이다.
# 만약 따옴표로 둘러싸인 문자열에 따옴표가 포함되어 있다면 파이썬은 그 부분에서 문자열이 끝난다고 인식하여 오류가 발생
# ==> 문자열 안에 따옴표는 필요한 경우 큰따옴표, 작은따옴표 따로 작성

In [30]:
print('학교 앞에서 누군가가 "빅데이터 분석반 여러분! 화이팅 하세요"라고 외치고 있었다.')

학교 앞에서 누군가가 "빅데이터 분석반 여러분! 화이팅 하세요"라고 외치고 있었다.

## 2) 문자열 치환

In [31]:
# 문자열에서 특정 문자를 다른 문자로 바꾸려면 replace 메서드 사용

In [32]:
"2021. 10. 17" .replace(".","-")

'2021- 10- 17'

## 3) 문자열의 길이 확인

In [34]:
loc="BigData"
len(loc)

7

## 4) 문자 중 인덱스 찾기

In [35]:
## index[]
# 인덱스 2를 찾아보기
loc="BigData"
loc[0]

'B'

In [36]:
loc[2]

'g'

## 5) 문자 중 일부 잘라내기(Slice)

In [37]:
## slice[:]
loc = "BigData"
loc[0:4]

'BigD'

In [38]:
loc[1:4]

'igD'

In [40]:
loc[3:]

'Data'

## 2. 파이썬 연속 데이터 구조

In [41]:
# 데이터가 여러 개 있을 때 효과적으로 관리하는 데 사용되는 자료구조
# 대표적으로 가장 많이 사용되는 리스트(list), 튜플(tuple), 사전(dict), 집합(set)

## 1) 리스트(list)

In [42]:
# 파이썬에서 변수가 어떤 값을 바인딩하고 있는 경우
# 프롬프트 상에서 변수명을 입력한 후 엔터 키를 누르면 해당 변수가 가리키는 값이 반환

In [43]:
a= "삼성전자"
a

'삼성전자'

In [44]:
b= "LG전자"
b

'LG전자'

In [45]:
c= "SK하이닉스"
c

'SK하이닉스'

## 리스트

In [46]:
# 파이썬에서는 리스트(list)를 이용하면 여러 데이터를 한 번에 저장 가능 --> 변수명을 여러 개 사용할 필요가 없다.
# 여러 데이터를 리스트에 담으려면 대괄호 '[]' 사이에 데이터를 쉼표로 구분해서 넣으면 됨.

In [47]:
mystock = ["삼성전자", "LG전자", "SK하이닉스"]

In [48]:
mystock

['삼성전자', 'LG전자', 'SK하이닉스']

In [49]:
# 인덱싱으로 원하는 데이터 만 가져오기
# [0], [1], [2]라는 인덱스 값을 통해 리스트에 있는 원하는 데이터를 얻을 수 있음

In [50]:
mystock[0]

'삼성전자'

In [51]:
mystock[2]

'SK하이닉스'

In [53]:
mystock = ["삼성전자", "LG전자", "SK하이닉스"]
mystock.append("카카오")
mystock

['삼성전자', 'LG전자', 'SK하이닉스', '카카오']

In [55]:
del mystock[2]
mystock

['삼성전자', 'LG전자']

In [57]:
## 리스트값에 추가 append()
number=['one', 'two', 'three', 'four']
number.append('five')
number

['one', 'two', 'three', 'four', 'five']

In [58]:
## 리스트값 중 일부 삭제 del
del number[2]
print(number)

['one', 'two', 'four', 'five']

In [59]:
## 2개의 리스트를 병합하는 경우 extend()
number1=['one', 'two', 'three', 'four']
number2=['six', 'seven', 'eight', 'nine']
number1.extend(number2)
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine']

In [61]:
## 2개의 리스트를 병합하는 경우 순서가 반대 extend()
number1=['one', 'two', 'three', 'four']
number2=['six', 'seven', 'eight', 'nine']
number2.extend(number1)
print(number2)

['six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [62]:
number1.extend(number2)
print(number1)

['one', 'two', 'three', 'four', 'six', 'seven', 'eight', 'nine', 'one', 'two', 'three', 'four']

In [63]:
## 정렬하기 sort()는 알파벳 순서로 정렬하기
number=['one', 'two', 'three', 'four']
number.sort()
print(number)

['four', 'one', 'three', 'two']

In [65]:
## 정렬하기 sorted()
number=['one', 'two', 'three', 'four']
newnumber=sorted(number)
print(newnumber)

['four', 'one', 'three', 'two']

In [66]:
## 정렬하기 sorted()
number=['one', 'two', 'three', 'four']
newnumber=sorted(number)
print(newnumber)
print(number)

['four', 'one', 'three', 'two']
['one', 'two', 'three', 'four']

In [67]:
## sort(reverse=True)
number=[1,2,3,4]
number.sort(reverse=True)
print(number)

[4, 3, 2, 1]

In [68]:
## 리스트 항목개수 확인 len()
number=['one', 'two', 'three', 'four']
len(number)

4

## 2) list 데이터 구조 활용

In [69]:
# 리스트 활용 : 여러 개의 데이터를 '순서대로' 저장하고 이를 관리해야 하는 경우

In [70]:
sec = [55300, 55800, 56400, 56200, 56000]

In [71]:
result = sum(sec)

In [72]:
print(result)

279700

### 통계 기초

In [74]:
# 중심경향치(Central Tendency Measures)?
# 자료의 중심을 나타내는 숫자
# 자료 전체를 대표
# 평균, 중간값, 최빈값 등

## 1. 중심경향치
### 1) 리스트 데이터 평균

In [75]:
# numpy를 이용
import numpy
# 아래 리스트 데이터 : 리스트 데이터는 대괄호로 변수 설정(데이터를 담다)
b = [100, 200, 400, 500, 600, 700, 800, 900, 1000]
numpy.mean(b)

577.7777777777778

In [76]:
# 이상치 영향
# 데이터 전처리 과정에서 반드시 체크해야 함
# numpy.mean(변수명)으로 계산 가능

b_1 = [100, 200, 400, 500, 600, 700, 800, 900, 1000, 10000000]
numpy.mean(b_1)

1000520.0

### 2) 리스트 데이터 중앙값

In [77]:
# 중간값(median) : 자료를 크기 순으로 정렬했을 때 점 가운데에 있는 값
# '중앙값' 또는 '중위수'
# numpy.median(변수명)으로 계산 가능
# 서열척도/등간척도/비율척도에서 사용 가능, 명명척도 사용 불가

In [79]:
# 인자 숫자가 짝수인 경우

c=[1,2,3,4,5,6,7,8,9,10]
numpy.median(c)

5.5

In [80]:
# 인자 숫자가 홀수인 경우

c=[1,2,3,4,5,6,7,8,9,10,11]
numpy.median(c)

6.0

In [82]:
# 이상치 영향이 평균 값보다 작다

c_1=[1,2,3,4,5,6,7,8,9,10,1000]
numpy.median(c_1)

6.0

### 3) 최빈도(mode)

In [83]:
# 최빈값(mode) : 가장 빈번하게 관찰/측정되는 값

In [89]:
from scipy.stats import mode

d=[1,2,2,3,5,5,5,5,10,1000]
mode(d)

/var/folders/28/yz261nq91vq_lj47hynw_10r0000gn/T/ipykernel_30152/2380289239.py:4: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode(d)

ModeResult(mode=array([5]), count=array([4]))

In [90]:
e=[1,2,2,3,4,4,4,4,7,7,7,7,7,7,10,1000]
mode(e)

/var/folders/28/yz261nq91vq_lj47hynw_10r0000gn/T/ipykernel_30152/2471374511.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode(e)

ModeResult(mode=array([7]), count=array([6]))

## 2. 분산도

In [91]:
# 범위, 분산(표준편차), 사분위간 범위
# 데이터가 흩어져 있는 정도

### 1) 범위(range)

In [92]:
# 대상 데이터의 최대값과 최소값 사이의 거리
# 범위 계산 = 최댓값 - 최솟값

In [93]:
b = [100, 200, 400, 500, 600, 700, 800, 900, 1000]
import numpy

# 최대값에서 최소값을 차감하여 계산
# 최댓값 :
numpy.max(b)
# 최솟값 :
numpy.min(b)

# 범위 :
numpy.max(b) - numpy.min(b)

900

### 2) 분산

In [94]:
# 평균에서 데이터가 벗어난 정도를 수치화한 값
# 편차의 제곱 합에 대한 평균 개념

In [95]:
numpy.var(b)

83950.61728395062

### 3) 표준편차

In [96]:
# 분산값을 제곱근한 값
# numpy.std(변수명)

In [97]:
numpy.std(b)

289.74232912011774

In [98]:
# 표준편차는 분산의 제곱근하여도 무방

numpy.sqrt(numpy.var(b))

289.74232912011774

### 4) 사분위간 범위

In [99]:
# 사분위간 범위(IQR. InterQuartile Range)는 제3사분위수에서 제1사분위수 간의 범위
# 사분위수란 전체 데이터를 작은 값부터 큰 값까지 순서대로 나열한 후 4등분 하였을 때, 각 지점에 해당하는 값

# 제1사분위수(Q1) : 25% 지점
# 제2사분위수(Q2) : 50% 지점
# 제3사분위수(Q3) : 75% 지점
# 제1사분위수와 제3사분위수 사이의 구간에는 항상 전체 데이터의 50%가 포함됨

In [100]:
# 제1사분위수

numpy.quantile(b,0.25)

400.0

In [105]:
# 제2사분위수 (50% 지점)
# 중간값 :

numpy.quantile(b, 0.5)

600.0

In [106]:
numpy.median(b)

600.0

In [107]:
# 제3사분위수(75% 지점)

numpy.quantile(b,0.75)

800.0

In [108]:
# 사분위간 범위(Q3-Q1)

numpy.quantile(b, 0.75) - numpy.quantile(b, 0.25)

400.0

### 사례 : 평균 구하기

In [109]:
# 평균 구하기
# 첫번째 방법
print(f"average : {result / len(sec)}")

average : 55940.0

In [110]:
# 두번째 방법
import numpy
# 평균 구하기
average = numpy.mean(sec)
print(average)

55940.0

In [112]:
# 세번째 : 파이썬 statiscics 라이브러리를 이용
import statistics

# 평균 구하기
result1 = statistics.mean(sec)
# 출력
print(f"average1 : {result1}")

average1 : 55940

### 리스트 인덱싱

In [113]:
# 리스트의 인덱스 값을 통해 리스트가 가리키는 값에 접근
# 리스트에 있는 데이터에 한개씩 접근할 때는 인덱싱 사용
# 리스트의 인덱싱은 문자열 인덱싱과 동일
sec = [55300, 55800, 56400, 56200, 56000]
sec[0]

55300

In [114]:
sec[4]

56000

In [115]:
# 리스트를 인덱싱할 때 [-1]은 리스트의 데이터 중 맨 마지막에 있는 데이터

In [116]:
sec[-1]

56000

In [118]:
sec[-2]

56200

### 5) 리스트 슬라이싱

In [119]:
# 리스트에 있는 여러 개의 데이터에 동시에 접근 하는 경우 슬라이싱 이용
# 리스트의 슬라이싱은 문자열 슬라이싱과 동일

In [120]:
kospi_top7=['삼성전자','LG엔솔','SK하이닉스','삼바','LG화학','현대차','NAVER']

In [122]:
print(kospi_top7)

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER']

In [123]:
print(kospi_top7[4])

LG화학

In [124]:
# 첫번쨰 종목에서 3개만 갖고 오기
kospi_top3 = kospi_top7[0:3]

In [125]:
print(kospi_top3)

['삼성전자', 'LG엔솔', 'SK하이닉스']

In [127]:
# 첫번째 종목에서 5개만 갖고 오기
kospi_top5 = kospi_top7[0:5]
print(kospi_top5)

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학']

In [128]:
kospi_top7[3:]

['삼바', 'LG화학', '현대차', 'NAVER']

In [129]:
kospi_top7[3:5]

['삼바', 'LG화학']

### 6) 리스트에 데이터 추가

In [130]:
# 리스트에 데이터 추가
# 기존 리스트에 새로운 데이터를 추가 : append 메서드 사용 (이 경우 데이터 맨 뒷줄에 추가)

In [131]:
kospi_top7 = ['삼성전자','LG엔솔','SK하이닉스','삼바','LG화학','현대차','NAVER']
kospi_top7.append('SK텔레콤')

In [132]:
kospi_top7

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER', 'SK텔레콤']

In [133]:
# 위의 경우 추가된 리스트를 새롭게 명명하는게 적절
kospi_top8 = kospi_top7
kospi_top8

['삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER', 'SK텔레콤']

In [134]:
# 리스트에 데이터르르 사용자가 원하는 특정 위치에 추가
# insert 메서드를 사용

In [135]:
kospi_top8.insert(2, '카카오')

In [136]:
kospi_top9=kospi_top8

In [137]:
kospi_top9

['삼성전자', 'LG엔솔', '카카오', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER', 'SK텔레콤']

### 7) 리스트에 데이터 삭제

In [138]:
kospi_top9[-1]

'SK텔레콤'

In [139]:
del kospi_top9[-1]

In [140]:
>>> kospi_top9

['삼성전자', 'LG엔솔', '카카오', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER']

In [141]:
len(kospi_top9)

8

## 튜플(tuple)
### 1) 튜플 이해

In [142]:
# 튜플과 리스트 차이 : 리스트는 리스트 내의 원소를 변경할 수 있지만 튜플은 변경할 수 없다
# 리스트는 대괄호'[]' 사용, 튜플은 소괄호'()' 사용
# 튜플은 리스트보다 속도가 빠르다는 장점 : 데이터 수정이 필요 없는 경우는 리스트보다 튜플을 사용하는 것이 효율적

In [143]:
kospi_top =('삼성전자','LG엔솔','SK하이닉스','삼바','LG화학','현대차','NAVER')

In [144]:
kospi_top

('삼성전자', 'LG엔솔', 'SK하이닉스', '삼바', 'LG화학', '현대차', 'NAVER')

### 2) 튜플 데이터 확인

In [145]:
# 갯수 확인
len(kospi_top)

7

In [146]:
kospi_top[0]

'삼성전자'

In [148]:
kospi_top[-1]

'NAVER'

In [149]:
kospi_top[-2]

'현대차'

## 3. 딕셔너리(dictionary)
### 1) 딕셔너리(dictionary) 이해

In [150]:
# 딕셔너리도 키(key)와 값(value)이라는 것을 쌍으로 저장함으로써 더 쉽게 저장된 값을 찾을 수 있는 구조
# 딕셔너리는 중괄호 '{}' 기호 사용
# 요소가 여러개인 경우 콜마{.)로 구분
# 딕셔너리는 리스트와 튜플과 달리 인덱싱을 지원하지 않음
# 사례 ; 주식종목 : 주가

In [151]:
sec_price = {}

In [152]:
type(sec_price)

dict

In [154]:
sec_price['삼성전자'] = 58000

In [155]:
sec_price

{'삼성전자': 58000}

In [156]:
sec_price['sk하이닉스'] = 80000

In [157]:
sec_price

{'삼성전자': 58000, 'sk하이닉스': 80000}

In [158]:
score ={}

In [159]:
type(score)

dict

In [175]:
score["박태원"] =100

In [180]:
score["정지영"] =70

In [181]:
score

{'박태원': 100, '김정표': 10, '정지영': 70}

In [164]:
type(score)

dict

In [165]:
len(score)

2

In [166]:
score["박태원"]

100

### 2) 딕셔너리(dictionary) 확인

In [167]:
len(sec_price)

2

In [168]:
sec_price['삼성전자']

58000

In [182]:
score["김정표"]= 10

In [183]:
score

{'박태원': 100, '김정표': 10, '정지영': 70}

In [184]:
del score["정지영"]

In [185]:
score

{'박태원': 100, '김정표': 10}

In [186]:
print(score)

{'박태원': 100, '김정표': 10}

### 3) 딕셔너리에 데이터 삽입

In [187]:
# 딕셔너리는 리스트의 append나 insert 같은 메서드를 지원하지 않음
# 리스트와는 달리 Dictionary 변수에 추가하고자하는 데이터에 대한 key와 value를 추가 입력하여야 함

In [189]:
# naver 추가
sec_price['naver']= 150000
sec_price

{'삼성전자': 58000, 'sk하이닉스': 80000, 'naver': 150000}

### 4) 딕셔너리에 데이터 삭제

In [190]:
# 리스트와 마찬가지로 del을 사용
del sec_price['sk하이닉스']

In [191]:
sec_price

{'삼성전자': 58000, 'naver': 150000}

### 5) 딕셔너리로부터 key-value 구하기

In [193]:
# 딕셔너리에 있는 key 값만 구하는 경우
# key 값만 구하는 경우 : "딕셔너리이름.keys()" 라고 호출 --> 딕셔너리이름 다음에 마침표 하나 붙이고 keys()라고 적을 것 !!
sec_price

{'삼성전자': 58000, 'naver': 150000}

In [194]:
sec_price['sk하이닉스']= 80000

In [195]:
sec_price

{'삼성전자': 58000, 'naver': 150000, 'sk하이닉스': 80000}

In [196]:
# key 값 만 보는 경우
sec_price.keys()

dict_keys(['삼성전자', 'naver', 'sk하이닉스'])

In [197]:
# value 만 리스트로
price_list = list(sec_price.values())

In [198]:
price_list

[58000, 150000, 80000]

In [199]:
# 특정 값만
sec_price['삼성전자']

58000

In [200]:
# 연습

In [201]:
## 다른 데이터 구조를 딕셔너리형으로 변환 dict()
fruit_price =[['apple',3500],['peer',2500],['cherry',5000]]
fruit_price =dict(fruit_price)
print(fruit_price)

{'apple': 3500, 'peer': 2500, 'cherry': 5000}

## 4. 세트(Set)
### 1) 세트 이해

In [202]:
# 집합 성격 데이터
# 중괄호 {} 이용
# 중괄호 안에 여러개 데이터인 경우 : 콤마로 구분
# 데이터의 중복을 허용하지 않는다!!!
# 집합 성격이므로 연산관련 함수 제공 (합집합, 교집합 등)

### 2) 세트와 리스트 비교

In [203]:
# 집합으로 만든 경우 : 중괄호 사용
stock_set={'삼성전자','하이닉스','naver'}
stock_set

{'naver', '삼성전자', '하이닉스'}

In [205]:
# 리스트로 만든 경우 : 대괄호 사용
stock_list=['삼성전자', '하이닉스', 'naver']
stock_list

['삼성전자', '하이닉스', 'naver']

In [206]:
# set은 중복은 허용하지 않는다
stock_set={'삼성전자','하이닉스','naver','삼성전자'}
stock_set

{'naver', '삼성전자', '하이닉스'}

In [207]:
# 리스트로 만든 경우 : 중복을 허용한다
stock_list=['삼성전자', '하이닉스', 'naver', '삼성전자']
stock_list

['삼성전자', '하이닉스', 'naver', '삼성전자']

### 3) 세트 데이터 확인하기

In [208]:
# 데이터 추가하기
# 세트 명을 기입하고 add(추가할 데이터)

In [209]:
stock_set={'삼성전자', '하이닉스', 'naver', '카카오'}
stock_set

{'naver', '삼성전자', '카카오', '하이닉스'}

In [210]:
# 다른 세트에 데이터 업데이트 하기
# 다른 세트 명을 기입하고 update(추가할 데이터)

In [211]:
stock_set={'삼성전자','하이닉스','naver','카카오'}
stock_set1={'카카오뱅크','신한지주'}

In [212]:
stock_set1

{'신한지주', '카카오뱅크'}

In [214]:
# 기존 stock_set 에 다른 데이터 set (stock_set1)을 추가하는 update
stock_set.update(stock_set1)
stock_set

{'naver', '삼성전자', '신한지주', '카카오', '카카오뱅크', '하이닉스'}

## 문자열

In [215]:
# 문자 길이 ()
# 단어 사이에 있는 공백도 하나의 문자로 간주
string = 'hello world'
len(string)

11

In [216]:
# 문자를 인덱싱과 슬라이싱

In [217]:
# 슬라이싱(slice)
# 원하는 문자열의 범위를 지정
# 소괄호(), 중괄호{}, 대괄호[]
# 대괄호[]는 슬라이싱 할 범위를 지정할 떄 사용하는 기호

In [218]:
# 0은 시작 위치, 5는 끝 위치를 의미
# 시작과 끝을 구분하기 위해 사이에 콜론(:) 사용
string[0:5]

'hello'

In [219]:
string[0:7]

'hello w'

In [220]:
string[6:11]

'world'

In [221]:
string[6:-2]

'wor'

In [222]:
# 쉬어가기
# string 정도만 입력한 상태에서 키보드의 탭(Tab) 키를 누르면 자동으로 변수명이 완성 --> 변수명이 긴 경우에 유용하게 활용
BigData_Analysist=100

In [223]:
BigData_Analysist

100

In [224]:
# 문자열 자르기
# split : 메서드(method) 지원
# 파이썬에서 문자열을 분리하고 싶을 때는 위 코드 split 메서드를 사용

In [225]:
stock = 'SK LG'

In [226]:
stock

'SK LG'

In [227]:
# split('')과 같이 작은따옴표 사이에 공백
stock.split(' ')

['SK', 'LG']

In [228]:
# 인덱스 값[0]을 사용해 리스트의 첫 번재 값
stock.split(' ')[0]

'SK'

In [229]:
# 출력 함수 : print
print(stock.split(' ')[0])

SK

In [230]:
# 문자열 합치기

In [231]:
meta = "META"
facebook = "FACEBOOK"

In [233]:
# 이름을 변수로 지정해두지 않으면 문자열 객체를 사용할 떄마다 두 문자열을 합치는 번거로운 작업이 필요
# --> 합쳐진 문자열을 다른 변수가 가리키게 해준다
meta + facebook

'METAFACEBOOK'

In [234]:
# 공백을 표시하고 싶으면 작은따옴표('') 사이에 공백을 넣어서 표현
meta + ' ' + facebook

'META FACEBOOK'

## 날짜와 시간 설정

In [235]:
# datetime 패키지
# 날짜와 시간을 함꼐 저장하는 datetime 클래스
# 날짜만 저정하는 date 클래스
# 시간만 저장하는 time 클래스
# 시간 구간 정보를 저장하는 timedelta 클래스 등을 제공

In [236]:
import datetime as dt
x = dt.datetime.now()
x

datetime.datetime(2023, 3, 24, 3, 27, 21, 882859)

In [237]:
# 다음과 같은 메서드도 제공
# weekday : 요일 반환 (0:월, 1:화, 2:수, 3:목, 4:금, 5:토, 6:일)
# strftime : 문자열 반환
# date : 날짜 정보만 가지는 date 클래스 객체 반환
# time : 시간 정보만 가지는 time 클래스 객체 반환

In [238]:
x.weekday()

4

In [241]:
x.date()

datetime.date(2023, 3, 24)

In [242]:
x.time()

datetime.time(3, 27, 21, 882859)